:root {
  --color-text-primary: #0f172a;
  --color-text-secondary: #fff;
  --color-text-tertiary: #757575;
  --color-text-quaternary: #e2e8f0;

  --color-surface-primary: #fff;
  --color-surface-primary-hover: #e2e8f0;
  --color-surface-secondary: #0f172a;
  --color-surface-tertiary: #334155;
  --color-surface-quaternary: #1e293b;

  --color-border-primary: #e2e8f0;
  --color-border-secondary: #757575;
  --color-border-tertiary: #334155;
  --color-border-quaternary: #1e293b;

  --color-item-primary: #e2e8f0;
  --color-item-secondary: #757575;
  --color-item-tertiary: #334155;
  --color-item-quaternary: #1e293b;

  --color-accent-primary: #3b82f6;
  --color-accent-secondary: #00d1ff;
  --color-accent-tertiary: #f1f5f9;
}
